services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend/data:/app/data
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ParkingSettings__BaseUrl=http://76.13.225.52:5173

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
